:root{
    --blue:#007bff;
    --primary:#212529;
    --white:#ffffff;
    --btn-blue:#51b5ef;
    --btn-black:#262626;
    --box-shadow:rgba(0, 0, 0, 0.1);
    --color-number:#959494;
    --prev-next-btn:rgba(0,0,0,0.8);
    --hover-btn:rgb(172, 165, 247);
}