/* primary css */
@font-face {
    font-family: American Typewriter;
    src: url(./fonts/AmericanTypewriterBQ-Bold.otf);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: var(--white);
    box-sizing: border-box;
}

p {
    color: var(--primary);
}

a{
    cursor: pointer;
}

  /* main */
.main_section{
    position: relative;
}

  /* main--->blue box in left page */
.blue-box{
    width: 275px;
    height: 738px;
    background-color: var(--blue);
}
.blue-box_navbar{
    width: 140px;
}
.blue-box img{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.blue-box span{
    text-transform: uppercase;
    font-size: 22px;
    color: var(--white);
    margin-top: 5px;
    font-family: 'American Typewriter', sans-serif;
    font-weight: 400;
}

  /* main--->slider */
.slide-show{
    position: absolute;
    left: 140px;
    top: 110px;
    z-index: 1;
    width: 400px;
    max-width: 400px;
    padding: 75px 0 60px 0;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 2px 10px 25px 0 var(--box-shadow);
    height: 450px;
    margin: auto;
}
.slide-show_numbertext{
    color: var(--color-number);
    font-family: 'American Typewriter', sans-serif;
    text-align: center;
    margin: 20px;
}
.image{
    width: 310px;
    margin-top: 10px;
    margin-left: 60px;
}
.slide-show_slider {
    display: none;
}
.slide-show_slider.active {
    display: block;
}

  /* main--->information box */
.detail-box{
    position: absolute;
    top: 200px;
    left:45vw;
    margin-right: 200px;
}
.detail-box_info h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'American Typewriter', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.detail-box_info p{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    text-align: left;
}
  /* main--->information box-->btn */
.detail-box_btn{
    margin-top: 35px;
}
.detail-box_btn a{
    text-align: center;
    width: 180px;
    text-decoration: none;
}
.btn-1{
    display: inline-block;
    padding: 10px 0px;
    background-color: var(--btn-blue);
    color: var(--white);
    border: 1px solid var(--btn-blue);
    text-transform: uppercase;
    margin-right: 10px;
}
.btn-2{
    display: inline-block;
    padding: 10px 0px;
    background-color: var(--btn-black);
    color: #ffffff;
    border: 1px solid var(--btn-black);
    text-transform: uppercase;
}
/* main--->dropdown */
.dropdown-menue{
    position: absolute;
    right: 10px;
    top: 20px;
}
.dropdown-menue_btn svg{
    width: 50px;
    height: 50px;
}
.dropdown-menue_contant ul li a{
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: var(--white);
    display: block;
    text-transform: uppercase;
}
.dropdown-menue_contant ul{
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    width:100%;
    height: 100%;
    background-color: rgb(86, 86, 231);
}
.dropdown-menue_contant ul li{
    margin: 10px;
}
.dropdown-menue:hover .dropdown-menue_contant{
    display: flex;
}


.about-our-food_section{
    display: flex;
}
.about-our-food_section_information{
    margin-left: 200px;
    padding-top: 110px;
}
.about-our-food_section_information_heading{
    display: flex;
    align-items: center;
}
.about-our-food_section_information_heading h2{
    font-weight: bold;
    color: var(--h2);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.about-our-food_section_information_heading hr{
    margin: 0 10px;
    border: none;
    width: 200px;
    max-width: 200px;
    height: 3px;
    background-color: var(--btn-blue);
}
.about-our-food_section_information p{
    margin-top: 20px;
    color: var(--p);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-right: 35px;

}
.about-our-food_section_information_btn{
    display: inline-block;
    padding: 8px 35px;
    background-color: var(--btn-black);
    color: var(--white);
    border: 1px solid var(--btn-black);
    margin-top: 30px;
    text-decoration: none;
}
.about-our-food_section_image{
    width: 100%;
}
.about-our-food_section_image img{
    vertical-align: middle;
    border-style: none;
    width: 724px;
    height: 524px;
}


.our-food-dishs_section{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 90px 0;
}
.our-food-dishs_section_image-collection{
    display: grid;
    grid-template-columns: auto auto;
}
.our-food-dishs_section_image-collection img{
    vertical-align: middle;
    border-style: none;
    margin: 10px;
    border: 10px solid var(--image-border);
}
.our-food-dishs_section_image-collection img:hover{
    border: 10px solid var(--btn-black);
}
.our-food-dishs_section_information{
    text-align: right;
    padding-left: 50px;
}
.our-food-dishs_section_information_heading{
    display: flex;
    align-items: center;

}
.our-food-dishs_section_information_heading h2{
    font-weight: bold;
    color: var(--h2);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-align: right;
}
.our-food-dishs_section_information_heading hr{
    margin: 0 10px;
    border: none;
    width: 200px;
    max-width: 200px;
    height: 3px;
    background-color: var(--btn-blue);
}
.our-food-dishs_section_information p{
    margin-top: 20px;
    color: var(--p);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
}
.our-food-dishs_section_information_btn{
    display: inline-block;
    padding: 8px 35px;
    background-color: var(--btn-black);
    color: var(--white);
    border: 1px solid var(--btn-black);
    margin-top: 30px;
    text-decoration: none;
}

.whats-hot_section{
    padding: 90px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.whats-hot_section hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
.whats-hot_section-heading{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 440px;
}
.whats-hot_section-heading h2{
    font-weight: bold;
    color: var(--h2);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.whats-hot_section-heading hr{
    margin: 0 10px;
    border: none;
    width: 200px;
    max-width: 200px;
    height: 3px;
    background-color: var(--btn-blue);
}

.detail{
    margin-top: 20px;
    color: var(--p);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: -430px;
}

.whats-hot_section_menue-slideShow{
    display: flex;
    border: 1px solid #c2c2c2;
    padding: 45px 0 15px 0;
    margin-top: 30px;
    border-left: none;
    border-right: none;
}
.whats-hot_section_menue-slideShow_slider{
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.whats-hot_section_menue-slideShow_slider a{
    display: inline-block;
    padding: 8px 35px;
    background-color: var(--btn-black);
    color: var(--white);
    border: 1px solid var(--btn-black);
    margin-top: 30px;
    text-decoration: none;
}
.whats-hot_section_menue-slideShow_slider img{
    width: 230px;
    height: 180px;
}